
#container-container {
  background-color: black;
  display: flex;
  position: absolute;
  left: 1vw;
  width: 90vw;
  height: 60vw;
  z-index: 5;
  color: white;
}

#animation-container {
  width: 90vw;
  height: 60vw;
  position: relative;
  background: yellow;
}

  